.picture-board-container {
    width: 249px;
    height: 249px;
    background-color: #333;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    border: 1px solid rgb(138, 105, 56);
}

.picture-tile-absolute {
    position: absolute;
    width: 75px;
    height: 75px;
    background-size: 300% 300%;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.tile-1 { background-position: 0% 0%; }
.tile-2 { background-position: 50% 0%; }
.tile-3 { background-position: 100% 0%; }
.tile-4 { background-position: 0% 50%; }
.tile-5 { background-position: 50% 50%; }
.tile-6 { background-position: 100% 50%; }
.tile-7 { background-position: 0% 100%; }
.tile-8 { background-position: 50% 100%; }

.puzzle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}